@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

// Variáveis
$primary-color: #FF69B4;
$secondary-color: #FFD9EC;
$text-color: white;

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Corpo do documento
body {
  font-family: "Noto Sans", sans-serif;
  background-color: $secondary-color;
}

// Cabeçalho
header {
  height: auto;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;

  .logo-header {
    display: flex;
    align-items: center;
    color: $text-color;

    h1 {
      margin-left: 1rem;
      font-size: 1.5rem;
    }

    img {
      width: 50px;
      height: auto;
    }
  }

  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;

    a {
      color: $text-color;
      font-size: 1.2rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Conteúdo principal
main {
  padding: 4rem;

  .maos,
  .pessoas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: black;
    background-color: $secondary-color;
    padding: 1rem;

    p {
      max-width: 500px;
    }

    img {
      width: 45%;
      max-width: 400px;
      height: auto;
    }
  }

  .pessoas {
    background-color: $primary-color;
    color: $text-color;
  }

  .imagens {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      width: 20%;
      min-width: 150px;
      margin: 0.5rem;
    }
  }
}

.footer {
    background-color: $primary-color;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; /* Itens espaçados horizontalmente */
    align-items: center; /* Itens alinhados verticalmente */
    flex-wrap: nowrap; /* Garantir que os itens fiquem na mesma linha */
    
    // Seção das mídias sociais
    .midias {
      display: flex;
      align-items: center;
      gap: 1rem; /* Espaço entre os ícones */
  
      img {
        width: 2rem;
      }
    }
  
    // Seção de textos do rodapé (Créditos)
    .aluna_instrutor_facilitador {
      color: $text-color;
      text-align: center;
      font-size: 0.8rem; /* Tamanho reduzido da fonte */
      flex-grow: 1; /* Ocupa o espaço central */
      margin: 0; /* Remover margens */
    }
  
    // Seção da logo do rodapé
    .footer-logo {
      display: flex;
      justify-content: flex-end;
      img {
        width: 2.5rem; /* Tamanho reduzido da logo */
      }
    }
  }